#footer-wrapper
  #footer
    #footer-logo
    .link-group.footer-languages
      - available_locales.each_slice(3) do |locales|
        %ul
          - locales.each do |locale|
            %li
              - flag = image_tag("flags/" + locale.to_s + ".png", :title => locale.to_s)
              - text = t('locales.' + locale.to_s)
              - link = link_to(text, main_app.session_locale_path(:l => locale.to_s), :method => :post)
              = (flag + " " + link).html_safe
    .mconftec
      = link_to "http://mconf.com" do
        = image_tag "santacasa/MconfTec-ico-64x64.png", size: "32x32", title: "Mconf Tecnologia"
    .mconf
      = link_to "http://mconf.org" do
        = image_tag "santacasa/Mconf_IconBalloon.png", size: "28x28", title: "Mconf"
